body {

background-color: #05449b;
color: aliceblue;
font: normal 15pt arial;
text-align: center;

}

#form_idd {


background-color: #ffffff;
color: #05449b;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);

}

@media only screen and (max-width: 1103px) and (min-width: 50px) { 


#form_idd {

    border-radius: 0.73%;
    padding: 5%;
    width: 85%;
    margin: auto;
    box-shadow: 0.36% 0.36% 1.09%;


}

img {

padding-top: 20%;

}

}



